

<h2><span style="background-color:orange">Chicken</span></h2>

<h2><span style="background-color:red">Mutton</span></h2>
 



<h2><span style="background-color:violet">Fish</span></h2>
h1{
	text-align: center;
}

h2{
	text-align: right;
	
	
}

#sixColumns{
	overflow:hidden;
	width:100%;
	margin: 0px auto;
	padding:40px 40px;
}


#sixColumns #box1{
	
	border:3px solid black;
	width:300px;
	background-color:grey;
	float:left;

	margin-right:50px;
	padding:10px;
}


#sixColumns #box2{
	padding:10px;
	border:3px solid black;
	width:300px;
	background-color:grey;
	float:left;
	margin-left:50px;
	
	
}


#sixColumns #box3{

	padding:10px;
	border:3px solid black;
	width:300px;
	background-color:grey;
	float:left;
	margin-left:100px;
	
	
}


